<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!-- we linked it so ./style.css will do same -->

    <title>Logout </title>
</head>
<body>
    <div>
        <!-- Dynamic -->
<h1>Hi <%= name %></h1>  
 
        <form action="/logout" method="get">
    <button type="submit">Logout</button>
    
        </form>
    </div>
    
</body>
</html>